/* :root {
  --border: 1px solid #cccccc;
} */

* {
  /* max-height: 400px;
  max-width: 600px; */
  box-sizing: border-box;
  /* text-rendering: geometricPrecision; */
}

.body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.bodyDiv {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
