<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Aditya's....</title>
    <link
      rel="icon"
      type="image/png"
      href="https://raw.githubusercontent.com/adityadeshlahre/adityadeshlahre.github.io/master/static/favicon.ico"
    />
  </head>

  <body
    style="
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    "
  >
    <div
      style="
        min-height: 100vh;
        min-height: 100svh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 2rem;
      "
    >
      <header>{% include "header.html" %}</header>
      <main>{% block content %} {% endblock content %}</main>
      <footer>{% include "footer.html" %}</footer>
    </div>
  </body>
</html>
