<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Aditya's....</title>
    <link
      rel="icon"
      type="image/png"
      href="https://raw.githubusercontent.com/adityadeshlahre/adityadeshlahre.github.io/master/static/favicon.ico"
    />
    <link rel="stylesheet" href="./../static/css/style.css" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var clickSound = document.getElementById("clickSound");
        document.addEventListener("click", function () {
          clickSound.play();
        });
      });
      //src="https://assets.mixkit.co/active_storage/sfx/3124/3124-preview.mp3" #music OG link
      //src="https://s84.123apps.com/acutter/d/s8465e354ac1cb6d_mp3_cCkqLAYz.mp3" #music shoternedOG link
      //src="https://raw.githubusercontent.com/adityadeshlahre/adityadeshlahre.github.io/master/static/clickSound.mp3" #music GH link
    </script>
  </head>

  <body
    style="
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    "
  >
    <div
      style="
        min-height: 100vh;
        min-height: 100svh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 2rem;
      "
    >
      <header>{% include "header.html" %}</header>
      <main>{% block content %} {% endblock content %}</main>
      <footer>{% include "footer.html" %}</footer>
    </div>
    <audio id="clickSound">
      <source src="/clickSound.mp3" type="audio/mpeg" />
    </audio>
  </body>
</html>
