<hr />
<div style="padding: 20px; flex-shrink: 0; text-align: center">
  <center>
    <p>
      &copy; Copyright 2024
      <a href="https://adityadeshlahre.bio.link">Aditya Deshlahre</a>. All
      rights reserved.
    </p>
  </center>
  <div>
    <a href="https://landchad.net/">
      <img
        src="https://landchad.net/pix/landchad.gif"
        target="_blank"
        alt="LandChad.net"
        style="margin: 5px"
      />
    </a>
    <a href="https://www.freebsd.org/">
      <img
        src="https://www.freebsd.org/gifs/power-button.gif"
        target="_blank"
        alt="LandChad.net"
        style="margin: 5px"
      />
    </a>
    <a href="https://wiby.me/">
      <img
        src="https://wiby.me/about/wiby.gif"
        target="_blank"
        alt="wiby.me"
        style="margin: 5px"
      />
    </a>
    <a href="https://sadgrl.online/">
      <img
        src="https://sadgrl.online/images/homepage/button-new.gif"
        target="_blank"
        alt="sadgrl online"
        style="margin: 5px"
    /></a>
    <a rel="noreferrer" href="https://kernel.org" target="_blank"
      ><img
        src="https://cyber.dabamos.de/88x31/linux_powered.gif"
        alt="linux kernel"
        target="_blank"
        title="Best kernel in the world"
        style="margin: 5px"
    /></a>
    <!-- <a rel="noreferrer" href="https://debian.org" target="_blank"
      ><img
        src="https://cyber.dabamos.de/88x31/debian.gif"
        alt="debian"
        target="_blank"
        style="margin: 5px"
        title="This website run's on debian"
    /></a> -->
    <!-- <a rel="noreferrer" href="https://bitwarden.com" target="_blank"
      ><img
        src="https://cyber.dabamos.de/88x31/bitwarden.gif"
        alt="Bitwarden"
        target="_blank"
        title="Bitwarden/Vaultwarden for the win"
        style="margin: 5px"
    /></a>
    <a rel="noreferrer" target="_blank"
      ><img
        src="https://cyber.dabamos.de/88x31/free.gif"
        alt="foss"
        target="_blank"
        title="Foss is the way"
        style="margin: 5px"
    /></a> -->
    <!-- <a rel="noreferrer" href="https://poggerer.xyz" target="_blank"
      ><img src="https://poggerer.xyz/88x31.png" alt="Tulg" title="Tulg"
    /></a>
    <a rel="noreferrer" href="https://arthurmelton.com" target="_blank"
      ><img
        src="https://arthurmelton.com/88x31.png"
        alt="AMTitan"
        title="AMTitan"
    /></a>
    <a rel="noreferrer" href="https://aadi.net.in" target="_blank"
      ><img src="https://aadi.net.in/88x31.png" alt="Aadi" title="Aadi"
    /></a> -->
    <!-- <a href="https://kernel.org/">
      <img
        src="https://github.com/2200g/site/assets/76528474/59e57374-88fd-49d7-ae5d-35c63607fff5"
        alt="made on gnu/linux"
        width="88"
        height="31"
        target="_blank"
        style="margin: 5px"
      />
    </a> -->
    <a href="https://archlinux.org/">
      <img
        src="https://ayoreis.com/static/Arch.png"
        alt="arch <3"
        width="88"
        height="31"
        target="_blank"
        style="margin: 5px"
      />
    </a>
    <a href="https://www.amd.com/en.html">
      <img
        src="https://cyber.dabamos.de/88x31/amd_powered.gif"
        alt="amd"
        width="88"
        height="31"
        target="_blank"
        style="margin: 5px"
      />
    </a>
  </div>
</div>
