<div style="display: flex; flex-direction: column; text-align: center">
  <!-- <div
    style="
      flex-wrap: wrap;
      margin: auto;
      justify-self: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
    "
  >
    <img
      src="https://raw.githubusercontent.com/adityadeshlahre/adityadeshlahre.github.io/master/static/me.png"
      alt="avatar"
      style="width: 100%; height: auto; display: block"
    />
  </div> -->
  <p
    style="
      font-size: 28px;
      font-weight: bolder;
      font-family: 'Courier New', monospace;
      margin: 4px;
    "
  >
    Aditya <span style="color: darkorchid">Deshlahre</span>
  </p>

  <p style="font-size: 18px; font-weight: bolder; margin: 8px">
    [アディティア]
  </p>
  <hr style="width: 100%" />
  <nav>
    <a href="/" style="margin: 0 16px; text-decoration: none">[ Home ] </a>
    <a href="/logs" style="margin: 0 16px; text-decoration: none"
      >[ About Me ]</a
    >
    <a href="/contact" style="margin: 0 26px; text-decoration: none"
      >[ Contact ]</a
    >
    <a href="/blog" style="margin: 0 16px; text-decoration: none">[ Blogs ]</a>
    <a href="/projects" style="margin: 0 16px; text-decoration: none"
      >[ Projects ]</a
    >
  </nav>
  <br />
  <nav>
    <!-- <a
      href="https://bukmark.club/directory/random"
      style="margin: 0 16px; text-decoration: none; "
      >[ Something ]</a
    > -->
    <a
      href="https://adityadeshlahre.github.io/resume/resume.pdf"
      style="margin: 0 16px; text-decoration: none"
      >[ Resume / CV ]</a
    >
    <a href="/testimonials" style="margin: 0 16px; text-decoration: none"
      >[ Proof Of Work ]</a
    >
    <a
      href="/https://www.notion.so/POW-1d52ad77056a80738065fdb6395e003d?pvs=4"
      style="margin: 0 16px; text-decoration: none"
      >[ Notion Doc : POW ]</a
    >
  </nav>
  <br />
  <nav>
    <a
      href="#"
      style="margin: 0 16px; text-decoration: none"
      onclick="navigator.clipboard.writeText('https://drive.google.com/file/d/1OVdi_4yPk0xKglRnTQKG6sLKo9Zq7QRb/view');"
      >[ Resume / CV | Drive Link | Click 2 Copy ]</a
    >
  </nav>
  <br />
  <nav>
    <a
      href="#"
      style="margin: 0 16px; text-decoration: none"
      onclick="navigator.clipboard.writeText('https://www.notion.so/POW-1d52ad77056a80738065fdb6395e003d?pvs=4');"
      >[ Notion Doc Link | Click 2 Copy ]</a
    >
  </nav>
  <br />
  <div class="marquee">
    <div class="marquee__content">
      <ul class="list-inline">
        <li>
          <b
            >If your hiring then please visit :
            <a href="https://adityadeshlahre.github.io/projects/"
              >My Projects</a
            ></b
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<hr />
