<div style="display: flex; flex-direction: column; text-align: center">
  <div>
    <img
      src="https://github.com/adityadeshlahre/adityadeshlahre.github.io/blob/master/static/pngMyAvt.png"
      alt="avatar"
    />
  </div>
  <h1 class="title" style="font-family: 'Courier New', monospace">
    Aditya <span style="color: darkorchid">Deshlahre</span>
  </h1>

  <p style="font-size: 18px; font-weight: bolder; color: #000000">
    [アディティア]
  </p>

  <nav>
    <a href="/" style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ Home ]
    </a>
    <a
      href="/logs"
      style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ About Me ]</a
    >
    <a
      href="/contact"
      style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ Contact ]</a
    >
    <a
      href="/blog"
      style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ Blogs ]</a
    >
    <a
      href="/projects"
      style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ Projects ]</a
    >
  </nav>
</div>
<hr />
