{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="{{lang}}">
{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/head.html" %}

        {% block main_content %}
        <main class="list">
            <div class="site-description">
                {% if config.description %}
                    {{ config.description | markdown | safe }}
                {% endif %}
            </div>

            <div>
                <h4>Work Experience:</h4>
                <ul style="display: flex; flex-direction: column; gap: 1rem;">
                    <li>Keizer Works HQ (JULY 2025 - AUG 2025)
                        <ul>
                            <li>AWS + SST-based development Hono JS ( auth + RBAC Authorization ) + Socket IO based chat application</li>
                        </ul>
                    </li>
                    <li>Clinikall YC S22 (JUNE 2025 - JULY 2025)
                        <ul>
                            <li>worked on Next JS Dashboard + Medusa JS as Shoping Platform framework for Admin Ships</li>
                        </ul>
                    </li>
                    <li>Google Summer of Code 2025 with OpenELIS Global (DEC 2024 - AUG 2025)
                        <ul>
                            <li>Final Report <a href="https://gist.github.com/adityadeshlahre/6d0a63070f1758b84839f1e23e2e5485" target="_blank">Here</a></li>
                        </ul>
                    </li>
                    <li>Seller Setu: ONDC Based Platform (SEP 2024 - DEC 2024)
                        <ul>
                            <li>Moving React JS to a type-safe Next JS application with API integration + UI Design, transforming to components</li>
                        </ul>
                    </li>
                    <li>Google Summer of Code 2024 with OpenELIS Global (NOV 2023 - AUG 2024)
                        <ul>
                            <li>Completed Work <a href="https://gist.github.com/adityadeshlahre/ee28a4c6100788ae23196e8e2394738f" target="_blank">Here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            {%- if paginator %}
                {%- set show_pages = paginator.pages -%}
            {% else %}
                {% set section = get_section(path="posts/_index.md") %}
                {%- set show_pages = section.pages -%}
            {% endif -%}

            {{ post_macros::list_posts(pages=show_pages, extra=config.extra) }}
        </main>

        {% if paginator %}
            <ul class="pagination">
                {% if paginator.previous %}
                    <span class="page-item page-prev">
                        <a href={{ paginator.previous }} class="page-link" aria-label="Previous"><span aria-hidden="true">{{ config.extra.translations[lang][0].previous_page }}</span></a>
                    </span>
                {% endif %}

                {% if paginator.next %}
                    <span class="page-item page-next">
                        <a href={{ paginator.next }} class="page-link" aria-label="Next"><span aria-hidden="true">{{ config.extra.translations[lang][0].next_page }}</span></a>
                    </span>
                {% endif %}
            </ul>
        {% endif %}

        {% endblock main_content %}

        {% include "partials/footer.html" %}
        <script>
            document.addEventListener("click", (e) => {
                const target = e.target.closest("[data-copy]");
                if (!target) return;
                e.preventDefault();
                navigator.clipboard.writeText(target.getAttribute("data-copy"));
            });
        </script>

    </div>
</body>

</html>
