{% extends "base.html" %} {% block content %}
<div style="text-align: center; margin-top: 50px">
  <h1 class="title" style="font-family: 'Courier New', monospace">
    Aditya <span style="color: darkorchid">Deshlahre</span>
  </h1>

  <p style="font-size: 18px; font-weight: bolder; color: #000000">
    [アディティア]
  </p>

  <nav style="margin-top: 20px">
    <a href="#" style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ Home ]
    </a>
    <a
      href="https://github.com/adityadeshlahre"
      target="_blank"
      style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ Github ]</a
    >
    <a
      href="/logs"
      style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ About Me ]</a
    >
    <a
      href="/projects"
      style="margin: 0 15px; text-decoration: none; color: #000000"
      >[ Projects ]</a
    >
  </nav>
</div>
{% endblock content %}
