{% extends "base.html" %} {% block content %}
<div style="display: flex; flex-direction: column; text-align: center">
  <p>
    Hey, I am <i>Adi</i>, a <i>Linux normie</i>. This is my website!<br /><br />
    >>> Do you think that this website is unattractive?<br />
    It's <a href="https://motherfuckingwebsite.com/">minimal</a> :]
  </p>
</div>

<div style="display: flex; align-items: center; justify-content: center">
  <div style="margin-right: 20px; padding: 40px">
    <img
      src="https://c.tenor.com/qEb-i5m9jJIAAAAC/tenor.gif"
      alt="anami"
      style="width: 120px; height: 90px"
    />
  </div>

  <div>
    <b>
      <ul style="list-style-type: none; padding: 0; text-align: left">
        Key points about me -
      </ul>
      <ul>
        <li>love's to listen punjabi song</li>
        <li>using linux/unix because of RAM problem</li>
        <li>I hate social media because people are fake there</li>
        <li>love to eat Indian food</li>
        <li>night OWL</li>
      </ul>
    </b>
  </div>
</div>

{% endblock content %}
